.jumbotron{
    background-color:
#141a37; 
}
body{
background-color: #141a37;
color:green;
}
.naman-centerheader {
  text-align: center;
  background-color:#141a37 ;
  color:green;
}
.colo{
  color:green;
}
.naman-profile-pic {
  border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:
#141a37;
  height: 100px;
  width:60%;
}

.item2 {
  background-color:
#141a37;
  /*height: 100px;*/
  width:60%;
}

.item3 {
  background-color:
#141a37;
  /*height: 100px;*/
  width:60%;
}
h1{
  color:green;
}
p{
  color:green;
}
.carousel-item{
  height: 350px;
  width:60%;
  position: relative;
}

.bg{
    background-color:
#141a37;
}
